{% extends "rpc/base.html" %}
{% load static %}
{% block title %}Errata{% endblock %}
{% block head %}<script src="{% static "canvasjs.min.js" %}"></script>{% endblock %}

{% block content %}
<h1>RFC Errata Summary</h1>
<center>
   <form action="{% url 'rpc:errata' %}" method="post">
   <table>
   <tr><th class="center" colspan="2">Type of chart(s)</th><tr>
   {% csrf_token %}
   {{ form.as_table }}
   <tr><td class="e" colspan="2"><input type="submit" value="Report" /></td>
   </table>
   </form>
</center>
{% endblock %}
