{% extends "rpc/base.html" %}
{% load static %}
{% block title %}Statistics{% endblock %}
{% block head %}<script src="{% static "canvasjs.min.js" %}"></script>
{% endblock %}

{% block content %}

<p class="center">Deep link url is
{% if request.META.HTTP_ORIGIN %}{{ request.META.HTTP_ORIGIN }}{% else %}https://{{ request.META.HTTP_HOST }}{% endif %}{% url 'rpc:deeplink' chart=dl.chart hash=dl.hash args=dl.args %}</p>

<script type="text/javascript">
  window.onload = function () {
    var typechart = new CanvasJS.Chart("typechartContainer",
    {
      zoomEnabled: true,
      title: {
        text: "Errata by type and year from {{ tyears|first }} to {{ tyears|last }}",
        fontSize: 30
      },
      legend: {
	horizontalAlign: "right", // "center" , "right"
	verticalAlign: "top",  // "top" , "bottom"
	dockInsidePlotArea: true,
	fontSize: 15
     },
     data: [
{% for ty, d in tydata.items %}
	    {        
		type: "{{ charttype }}",
		name: "{{ ty }}",
		showInLegend: true,
		dataPoints: [ {{ d|safe }} ]
	    },
{% endfor %}
      ]
    });

    var statuschart = new CanvasJS.Chart("statuschartContainer",
    {
      zoomEnabled: true,
      title: {
        text: "Errata by status and year from {{ tyears|first }} to {{ tyears|last }}",
        fontSize: 30
      },
      legend: {
	horizontalAlign: "right", // "center" , "right"
	verticalAlign: "top",  // "top" , "bottom"
	dockInsidePlotArea: true,
	fontSize: 15
     },
     data: [
{% for st, d in sydata.items %}
	    {        
		type: "{{ charttype }}",
		name: "{{ st }}",
		showInLegend: true,
		dataPoints: [ {{ d|safe }} ]
	    },
{% endfor %}
      ]
    });

    typechart.render();
    statuschart.render();
  }
  </script>

<p class="note">
You can zoom and scroll this chart.
Select part of it with the mouse to zoom,
then use the controls that appear at the top to switch between zooming
and scrolling.
<br />
Also note how the dates at the bottom automagically adjust to the
zoomed area.
</p>
<div id="typechartContainer" class="piechart">
Types go here
</div>
  
<hr />
<p class="note">
Held for document update is too long
</p>

<div id="statuschartContainer" class="piechart">
Statuses go here
</div>

{% endblock %}
