{% extends "rpc/deepbase.html" %}
{% load static %}
{% block title %}Errata{% endblock %}
{% block head %}<script src="{% static "canvasjs.min.js" %}"></script>{% endblock %}

{% block content %}
<h1>RFC Errata Summary</h1>
<h2>Total of {{tetotal}} errata for {{nerrata}} RFCs</h2>
<script type="text/javascript">
  window.onload = function () {
    var typechart = new CanvasJS.Chart("typechartarea",
    {
      title:{
        text: "Errata by Type",
        fontSize: 20
      },
      data: [
	{
	     type: "pie",
	     startAngle: -90,
	     /* showInLegend: true, */
	     legendText: "{indexLabel}",
	     toolTipContent: "{y} - #percent %",
	     dataPoints: [{{typedata|safe}}
		   ],
	}
      ]
    });

    var statuschart = new CanvasJS.Chart("statuschartarea",
    {
      title:{
        text: "Errata by Status",
        fontSize: 20
      },
      data: [
	{
	     type: "pie",
	     startAngle: -90,
	     /* showInLegend: true, */
	     legendText: "{indexLabel}",
	     toolTipContent: "{y} - #percent %",
	     dataPoints: [{{statusdata|safe}}
		   ],
	}
      ]
    });

    typechart.render();
    statuschart.render();

  }
</script>
<p class="deepnote">
   <table>
   {% for type,count in terrata.items %}
   <tr class="s">
      <td class="s">{{type}}</td>
      <td class="s">{{count}}</td>
   </tr>
   {% endfor %}
   <tr class="s">
      <td class="s">Total</td>
      <td class="s">{{tetotal}}</td>
   </tr>
</table>
</p>

<div id="typechartarea" class="deeppiechart">
type chart here
</div>

<hr/>

<p class="deepnote">
   <table>
   {% for status,count in serrata.items %}
   <tr class="s">
      <td class="s">{{status}}</td>
      <td class="s">{{count}}</td>
   </tr>
   {% endfor %}
   <tr class="s">
      <td class="s">Total</td>
      <td class="s">{{setotal}}</td>
   </tr>
</table>
</p>

<div id="statuschartarea" class="deeppiechart">
status chart here
</div>

{% endblock %}
