{% extends "rpc/base.html" %}
{% block title %}Statistics{% endblock %}

{% block content %}
<h1>Stats and Metrics for the RFC Editor</h1>
<blockquote>
   <p>Weekly data from {{dateranges.wfirst}} to
      {{dateranges.wlast}}</p>
   <p>Monthly data from {{dateranges.mfirst}} to
      {{dateranges.mlast}}</p>

   <ul>
      <li><em><b>RFCs by date</b></em> List the RFCs published in a quarter range. 
	Click on any RFC for its state history.</li>
      <li><em><b>PGTE docs</b></em> List the drafts that make up the PGTE in a given quarter. 
        Click on any draft for its state history.</li>
      <li><em><b>RET</b></em> List the RFCs published in a month range with EDIT, RFC-EDITOR, and RET.
        Click on any RFC for its state history.</li>
      <li><em><b>*SLA stats</b></em> Quarterly statistics related to the SLA (table)</li>
      <li><em><b>*Pages by month</b></em> Pages submitted, moved to EDIT, and published
        (by month; line graph)</li>
      <li><em><b>*Pages by Qtr</b></em> Pages submitted, moved to EDIT, and published 
        with SLA tiers (by quarter; line graph)</li>
      <li><em><b>Annual Pub</b></em> Annual publication rate (bar graph)</li>
      <li><em><b>*Primary States</b></em> Number of pages in primary states by month 
        (stacked column or area graph)</li>
      <li><em><b>Errata</b></em> Number of errata by type, status, or source (pie charts and bar graph)</li>
      <li><em><b>Admin</b></em> Django admin system</li>
   </ul>
<p>*Asterisk indicates a page that creates a chart currently used on the report summary.</p>
</blockquote>
<p>Charts by <a href="http://www.canvasjs.com">Canvas JS</a>.</p>

{% endblock %}


   
