{% extends "rpc/base.html" %}
{% block title %}Monthly statistics{% endblock %}

{% block content %}
{% if min != max %}
<h1>Edit times for {{ min }} through {{ max }}</h1>
{% else %}
<h1>Edit times for {{ min }}</h1>
{% endif %}

<center>
   <h3>Total published: {{ count }}</h3>
   <table><tr><td>
      RET &lt;= {{retshort}} wks: {{retshortcount}} documents<br/>
      {{retshort}} &lt; RET &lt;= {{retmedium}} wks:
      {{retmediumcount}} documents<br/>
      RET &gt; {{retmedium}} wks: {{retlongcount}} documents
      </td>
      </tr></table>
   <p>&nbsp;</p>
   <table>
   <tr><th class="center">RFC</th>
      <th class="center">Draft</th>
      <th class="center">EDIT<br/>weeks</th>
      <th class="center">RFC-EDITOR<br/>weeks</th>
      <th class="center">Total<br/>weeks</th>
   </tr>
   {% for t in times %}
   <tr class="s">
      <td class="s"><a href="{% url 'rpc:showrfc' rfcno=t.rfc %}">{{ t.rfc }}</a></td>
      <td class="s">{{t.draft}}</td>
      <td class="s">{{t.edit}}</td>
      <td class="s">{{t.rfced}}</td>
      <td class="s">{{t.both}}</td>
   </tr>
   {% endfor %}
</table>
</center>
{% endblock %}
