{% extends "rpc/base.html" %}
{% block title %}PGTE explorer{% endblock %}

{% block content %}
<h1>PGTE explorer for {{ quarter }}</h1>

<center>
   <h3>Total documents: {{ dgte }}</h3>
   <h3>Total pages: {{ pgte }}</h3>
   <table>
   <tr><th class="center">Old way</th>
      <th class="center">New way</th>
      <th class="center">New by version</th>
      <th class="center">Document</th></tr>
   {% for old,new,ver,doc in rfcs %}
   <tr class="s">
      <td class="s center">&{{ old|yesno:"check,cross" }};</td>
      <td class="s center">&{{ new|yesno:"check,cross" }};</td>
      <td class="s center">&{{ ver|yesno:"check,cross" }};</td>
      {% if doc.state_id == 14 %}
      <td class="s"><a href="{% url 'rpc:showrfc' rfcno=doc.doc_id %}">{{ doc.doc_id }}</a></td>
      {% else %}
      <td class="s"><a href="{% url 'rpc:showrfc' idno=doc.internal_key %}">{{ doc.draft }}</a></td> 
      {% endif %}
   </tr>
   {% endfor %}
</table>
</center>
{% endblock %}
