{% extends "rpc/base.html" %}
{% block title %}Page counts from {{ min }} to {{ max }}{% endblock %}

{% block content %}
<h1>Submitted page counts from {{ min }} to {{ max }}</h1>

<center><p>
   <table>
      <tr><th class="center">Period</th><th class="center">Pages</th>
{% for d, pc in pagecounts %}

      <tr><td>{{ d }}
{% if pc.partial %}
<br/>(so far)
{% endif %}
	 </td>
{% if pc %}
	 <td>{{ pc.pagecount }}</td>
{% else %}
	 <td>No data</td>
{% endif %}
      </tr>

{% endfor %}
   </table>
</p></center>
{% endblock %}


   