{% extends "rpc/base.html" %}
{% block title %}Statistics{% endblock %}

{% block content %}
<h1>Edit stats from {{ min }} to {{ max }}</h1>

<center><p>
   <table>
      <tr><th>Month</th>
	 <th>Count</th>
	 <th>Page<br/>Count</th>
	 <th>Edit Count</th>
	 <th>Mean</th>
	 <th>Median</th>
	 <th>Std Dev</th>
	 <th>Pctile</th>
      </tr>
	 
{% for d, e in edstats %}

    <tr><td>{{ d }}
{% if e.partial %}
<br/>(so far)
{% endif %}
       </td>

{% if e %}
      <td>{{ e.count }}</td>
      <td>{{ e.pagecount }}</td>
      <td>{{ e.editcount }}</td>
      <td>{{ e.mean }}</td>
      <td>{{ e.median }}</td>
      <td>{{ e.stddev }}</td>
      <td>{{ e.okpercentile }}</td>
{% else %}
      <td colspan="7" class="center">No data</td>
{% endif %}
      </tr>

{% endfor %}
   </table>
</p></center>
{% endblock %}


   