/*
rpc.css
*/

A:link {color: #0000EF}
A:visited {color: #0000EF}
A:active {color: #FF0000}

BODY { background-color: #FFF0FF; color: #000000; }

body, td, th, h1, h2 {font-family: arial, helvetica, sans-serif; }

H1 { font-family: arial, helvetica, sans-serif; font-size: 125%;
	font-weight: bold; text-align: center; }

H2 { font-family: arial, helvetica, sans-serif; font-size: medium;
	font-weight: bold;  text-align: center; }

P { font-family: arial, helvetica, sans-serif; font-size: 80%; }
P.links { border:0; margin:0; text-align: center; }

LI { font-family: arial, helvetica, sans-serif; font-size: 80%; margin-bottom: 0.5em; }

.small { font-size: x-small; }
.center { text-align: center }

/* section for chart pages */
p.note {
    float: right;
    width: 15%;
    padding-left: 20px;
}
p.deepnote {
    float: right;
    width: 20%;
    padding-left: 5px;
}

canvas.cjs { background:#ffffff; border:1px solid #ccc; width:400px; height:160px }

div.chart {
    padding-left: 50px;
    height: 500px;
    width: 70%;
}

div.deepchart {
    padding-left: 0px;
    height: 100%;
    width: 100%;
}

div.piechart {
    padding-left: 50px;
    height: 350px;
    width: 60%;
}

div.deeppiechart {
    padding-left: 0px;
    height: 350px;
    width: 80%;
}

div.deeperpiechart {
    padding-left: 0px;
    height: 300px;
    width: 100%;
}
div.deepestpiechart {
    padding-left: 0px;
    height: 400px;
    width: 100%;
}
/* navigation tabs */
#tabnav
	{
		height: 20px;
		margin: 0;
		padding-left: 10px;
		background: url(/static/tabfoot.gif) repeat-x bottom;
	}

#tabnav li
	{
		margin: 0; 
		padding: 0;
  		display: inline;
  		list-style-type: none;
  	}
	
#tabnav a:link, #tabnav a:visited
	{
		float: left;
		background: #f3f3f3;
		font-size: 11px;
		line-height: 14px;
		padding: 2px 10px 2px 10px;
		margin-right: 4px;
		border: 1px solid #ccc;
		text-decoration: none;
		color: #666;
	}

#tabnav a:link.active, #tabnav a:visited.active
	{
		border-bottom: 1px solid #fff;
		background: #fff;
		color: #000;
	}

#tabnav a:hover
	{
		background: #fff;
	}

div.sbs {
    float: left;
    padding-left: 20px;
}

/* tables for ordinary stuff */
table { border-collapse: collapse; }

table.center { text-align: center;
	       margin-left: auto; margin-right: auto; 
       }

th {background-color: #ccccff; font-weight: bold; color: #000000; text-align: right;
	 border: 1px solid #000000; font-size: 100%; vertical-align: middle; padding: 5px; }
td.e {background-color: #ddddff; font-weight: bold; color: #000000;
	 border: 1px solid #000000; font-size: 100%; vertical-align: middle; padding: 5px; }
td {background-color: #dddddd; color: #000000;
	border: 1px solid #000000; font-size: 100%; vertical-align: middle; padding: 5px; }
td.w {background-color: #ffffff; color: #000000;
	border: 1px solid #000000; vertical-align: middle; padding: 5px; }

/* stripes */
tr.s:nth-child(odd)  {background-color: #ffffff }
tr.s:nth-child(even) {background-color: #f2f2f2 }
td.s { background-color: inherit; }

/* tables for formatted results */
table.fmt { text-align: center; padding: 10px; border-collapse: collapse; }
table.fmt th { background-color: #eeeeee; font-weight: bold; font-size: 125%; ; padding: 5px }
table.fmt tr.y th { background-color: #ffff00; font-weight: bold; font-size: 125%; ; padding: 5px }
table.fmt td { background-color: #ffffff; font-size: 100%; ; padding: 5px }
table.fmt tr.y td { background-color: #ffff00; font-size: 100%; ; padding: 5px }
	
table ul.nonfield { font-size: 100%; font-weight: bold; color: #FF0000; }
