body { background: rgb(215,215,245); margin: 0em; }
img.header { margin-bottom: 20px; margin-top: 30px;}

table { background: white; margin-left: auto; margin-right: auto; }
table.search {  margin-bottom: 50px; }
table.search_states {  padding: 15px; }
table.search_states th {  text-align: left; border-bottom: none;}
table.search_fields {  padding: 15px; }
table.sort_fields {  padding: 15px; }
table.edit_hits {  padding: 15px; }
table.choices {  margin-left: 0; }
table th { border-bottom: solid; border-width: thin;}
table tr.odd { background: rgb(245,235,235); }
table tr.even { background: rgb(235,245,245); }
label.error { color: red; }
label.readonly { background: rgb(200,200,200); }
span.warning { color: red; }
span.draftname { font-weight: bold; font-family: monospace; }
.info { margin-left: +3em; font-size: smaller; }
.warning { color: red; }
.error { font-weight: bold; color: red; }

ul.rfc_fcns { display: table; margin-left: auto; margin-right: auto; }
ul.rfc_fcns li { display: table-cell; padding: 0.5em; background: white; }

div.center { margin-left: auto; margin-right: auto; text-align: center;}
input.red {background-color: #cc0000; font-weight: bold; font-size: 12px; color: white;}

.simple_center { text-align: center; }
.notice { background: white; margin-left: 25%; margin-right: 25%; }


table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
		border-color: white;
        border-collapse: collapse;
        width:100%;
		
}
table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
		border-color: white;
        background-color: #dedede;
}

table.gridtable td {
        border-width: 1px;
        padding: 8px;
		border-style:solid;
		border-color: white;
}

td.special{
	
			border-style:hidden;
		  }


td.title        {
                  font-weight: bold;
                  letter-spacing: inherit;
}

table.innertable{
		border-collapse:collapse;	
	
	}
table.innertable td{
		border-style:hidden;
		
	}
